
{% extends 'base.html' %}

{% block content %}

<h1>Crete</h1>
{{ error }}
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    Title :<br/>
    <input type="text" name="title"/>
    <br/> <br/>
    Body :<br/>
  <input type="text" name="body"><br/><br/>

  URL :<br/>
  <input type="text" name="url"/>
  <br/> <br/>
  Icon :<br/>
<input type="file" name="icon"><br/><br/>


Image :<br/>
<input type="file" name="image"><br/><br/>


  <input type="submit" value="Create !" class="btn btn-primary"/>
</form>

{% endblock %}
